<!DOCTYPE html>
<html>
    <head>
        <title>Capitol Hill Bowling Alley</title>
    </head>
    <body>
        <h1>Capitol Hill Bowling Alley</h1>
        <h2>Knock 'em down!</h2>
        <p>123 H Street NE, Washington, DC 20002</p>
    </body>
</html>
